<style>
body{
  margin: 0;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding:20px;
}
.active{
  color: red;
}
#grid ol {
  background-color: skyblue;
  border-right: 1px solid gray;
  width:100px;
  margin:0;
  padding:10px;
  padding-left: 32px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#style{
  padding-left: 10px;
  padding-top: 20px;
}
@media(max-width:750px){
  #grid{
    display:block;
  }
  h1{
    border-bottom: none;
  }
  #grid ol{
    border-right: none;
  }
}
</style>
